html, body {
	width: 100%;
	height: 100%;
	background-color: #fdfdfd;
	margin: 0;
	padding: 0;
	color: #050505;
	font-family: "Arial";
}

a {
	color: #cc0000;
}

a:hover {
	color: #f4ec90;
}

#container {
	min-height:100%;
	position:relative;
}

#top {
	width: 100%;
	height: 3em;
	background-color: #fdfdfd;
	border-bottom: solid 1px #ddd;
	border-top: solid 3px #cc0000;
}

#footer {
	width: 100%;
	height: 6em;
	bottom: 0;
	background-color: #050505;
	position: absolute;
	color: #f4ec90;
	position: absolute;
}

#content {
	padding: 0 2em;
	padding-bottom: 6em;
}

.logo, a.logo:hover {
	font-family: "Arial";
	color: #cc0000;
	font-size: 1.2em;
	font-weight: bold;
	padding: 0.6em 0.7em;
}

.footer-info {
	margin: 0 auto;
	width: 40em;
	text-align: center;
}

.article {
	margin: 0 auto;
	max-width: 35em;
	padding-bottom: 4em;
}

a.anchor, a.anchor:hover {
	color: #050505;
}

a.logo {
	text-decoration: none;
	width: 9em;
	display: block;
}

.thanks {
	font-size: 0.7em;
	font-style: italic;
}